$bgBody: #222;
$fontColor: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgBody;
  color: $fontColor;

  height: 100vh;
}
a {
  color: $fontColor;
  text-decoration: none;
}

body #app {
  height: 100vh;

  display: flex;
  flex-direction: column;

  gap: 16px;

  font-family: "Inter", sans-serif;
}

main {
  flex: 1;
}
